:root {
    --yellow: #ffc600;
    --soft-yellow: #FEDA67;
    --peach: #FEECB3;
    --black: #272727;
    --soft-white: #f2f4f5; 
    --bandcamp-white: #F5F5F5;
    --pitchfork-white: #f7f7f7;
    --pink: #ea6a91;
    --slime-green:#caff5a;

  }

*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  font-family: akzidenzgrotesk-roman, akzidenzgroteskbq-light,
    akzidenzgroteskbq-reg, Helvetica, sans-serif;
  letter-spacing: normal;
  text-transform: uppercase;
}
.pure-menu {
  top: 20px;
  z-index: 99;
  margin-top: 0;
}
.custom-restricted-width {
  display: inline-block;
}
h2,
h3,
.pure-menu-link {
  text-align: center;
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 10px;
  letter-spacing: normal;
  word-spacing: 0;
  text-rendering: optimizeSpeed;
  display: block;
}
p {
  font-size: 14px;
  line-height: 22.5px;
  letter-spacing: 0.4px;
}
a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: var(--pink)
}
#main {
  max-width: 1200px;
  margin: 0 auto;
}
.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.anchorz {
  display: inline-block;
}
.l-box {
  padding: 1em;
  text-align: center;
}
.tracklist h2 {
  font-weight: 900;
}
.tracklist p {
  margin-bottom: 10px;
  margin-top: 10px;
  line-height: normal;
  font-style: italic;
}
.presslist p {
  margin-bottom: 10px;
  margin-top: 10px;
  line-height: normal;
  font-style: italic;
}
.sociallinkstop {
  margin: 10px auto;
  width: 45px;
  text-align: center;
  width: 100%;
  clear: both;
  text-align: left;
}
.sociallinksbottom {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.icon-social {
  height: 20px;
  padding-left: 8px;
  padding-bottom: 15px;
  box-sizing: content-box;
}
li.pure-menu-item {
  float: left;
  height: 30px;
}
.c3 {
  font-style: italic;
}
.c5 {
  font-weight: 700;
}
#nameholder {
  width: 100%;
  margin: 0 auto;
  margin-top: 0.2rem !important;
  padding: 2px;
}
#nameholder h2{
    padding-bottom:0px; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-weight: 400; 
    font-size: 55px; 
    letter-spacing: 2pt;
}
#vinylholder h2 {
  background-color: #ffede9;
  width: 100%;  
  margin: 0 auto;
  margin-top: 0.2rem !important;
  padding: 2px;
  font-size: 30px;
}
#vinyl a:hover {
  background-color: black;
  color: white;
}
#bioholder {
  background-color: #ffede9;
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem !important;
  padding: 20px;
}
/* #pressholder{
    background-color:#f9f7f5;
    width:80%;
    margin:0 auto;
    margin-top:2rem!important;
    padding:20px
} */
#contactholder {
  /* background-color: #ffede9; */
  width: 100%;
  margin-top: 1rem !important;
  padding: 20px;
}

.section {
  margin: 25px auto;
}
figure.sixteen-nine-img {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding-top: 56.25%;
  position: relative;
}
figure.sixteen-nine-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
/* .rounded {
  border-radius: 0.45rem;
} */
/* .songkick-widget {
  border-radius: 0.45rem;
} */
.darkonly {
  display: none;
}
#lightlean {
  margin-top: 70px;
}
.l-box p {
    font-size: 15px;
    text-align: left;
    line-height: 10%;
}

.release-date p {
    font-size: 12px;
    opacity: 75%;
}
.songkick-widget {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.past-shows {
    text-align: center;
    font-size: 17px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    margin: 10px 10px 10px 10px;
    overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.description {
    /* text-transform: lowercase; */
    text-align: center;
    opacity: 50%;
}


@media (prefers-color-scheme: dark) {
  body,
  #nameholder,
  #bioholder,
  #contactholder,
  .pure-menu,
  h2 {
    color: #f3f3f3;
    background-color: #000 !important;
  }
  .darkonly {
    display: block;
  }
  .lightonly {
    display: none;
  }
  .pure-menu-active > .pure-menu-link,
  .pure-menu-link:focus,
  .pure-menu-link:hover {
    background-color: #131313;
  }
  a {
    color: #f3f3f3 !important;
  }
  img.icon-social {
    -webkit-filter: invert(1);
    filter: invert(1);
  }
}
@media screen and (max-width: 35.5em) {
  .pure-menu-item {
    visibility: collapse;
  }
  li.pure-menu-item {
    float: left;
    height: 1px;
  }
  #lightlean {
    margin-top: 0;
  }
  .pure-menu {
    text-align: center;
    width: 100% !important;
  }
  .pure-menu {
    text-align: center;
    width: 100% !important;
  }
  .pure-menu-link {
    font-size: 3.2vw;
  }
  #mainNav > li.pure-menu-item:nth-child(1) {
    left: 0;
  }
  .pure-menu-link:hover {
    background-color: transparent !important;
  }
  #mainNav > li.pure-menu-item:nth-child(1) {
    left: 0;
  }
  .sociallinkstop {
    text-align: center !important;
    padding-top: 15px;
  }
  .soundcloud {
    margin-left: 0 !important;
  }
  .icon-social {
    width: 19px;
  }
  #nameholder {
    width: 100%;
    padding: 10px;
  }
  #vinylholder h2 {
    font-size: 15px;
    width: 100%;
    padding: 2px;
    font-size: 17px;
  }
  /* #nameholder h2{
        font-size: 14.4px;
    } */
  #bioholder {
    width: 100%;
    padding: 10px;
  }
  h2 {
    padding-left: 10px;
  }
  #nameholder h2{
    /* padding-bottom:0px;  */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-weight: 400; 
    font-size: 30px; 
    /* letter-spacing: 2pt; */
}
.description {
    font-size: 12px;
}
}
@media screen and (min-width: 35.5em) {
  .pure-menu {
    position: fixed;
    top: 10px;
    margin-top: 0;
    z-index: 99;
    margin-top: 80px;
    background-color: none;
    text-align: left;
  }
  li.pure-menu-item {
    float: none;
  }
  .sociallinkstop {
    text-align: left;
    margin-top: 15px;
    width: 45px;
  }
  .icon-social {
    margin: 10px auto;
    padding-bottom: 0;
  }
  .sociallinksbottom {
    display: none;
  }
}
.fancybox-infobar {
  font-size: 16px;
}
.fancybox-caption__body {
  font-size: 1.3rem;
}
